[user]
	name = wangms168
	email = wms_88@163.com
[color]
	ui = true
	status = true
	branch = true
	interactive = true
	diff = true
[alias]
    s=status
    a=add .
    c=commit -m
    d=difftool
    p=push origin master
	l=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = store
