[user]
	name = wangms168
	email = wms_88@163.com
[color]
	ui = true
	status = true
	branch = true
	interactive = true
	diff = true
[alias]
    s=status
    d=difftool
    p=push origin master
    l=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lazy = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[credential]
	helper = store
# [http]
# 	proxy = http://127.0.0.1:36873/
# [https]
# 	proxy = http://127.0.0.1:36873/

# [url "https://hub.fastgit.org/"]
#     insteadOf = https://github.com/
# [url "https://raw.fastgit.org/"]
#     insteadOf = https://raw.githubusercontent.com/

[http]
	sslverify = false
