PATH="$PATH:/$HOME/.local/bin"      
PATH="$PATH:/$HOME/.local/bin/scripts"      
PATH="$PATH:/$HOME/.local/bin/statusbar"
PATH="$PATH:/$HOME/.local/bin/dwmscripts"
PATH="$PATH:/$HOME/.local/bin/torr-dwmblocks"
# PATH="$PATH:/$HOME/.local/bin/Luke-dwmblocks"

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

# 解决中文乱码
# export LANG="zh_CN.UTF-8"
# export LC_CTYPE="zh_CN.UTF-8"
